# Node Environment
NODE_ENV=development
# App Name
NEXT_PUBLIC_APP_NAME=Sessions
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=PLACEHOLDER
CLERK_SECRET_KEY=PLACEHOLDER
CLERK_WEBHOOK_SECRET=PLACEHOLDER

# Supabase
NEXT_PUBLIC_SUPABASE_URL=PLACEHOLDER
NEXT_PUBLIC_SUPABASE_ANON_KEY=PLACEHOLDER
SUPABASE_SERVICE_ROLE_KEY=PLACEHOLDER
SUPABASE_JWT_KEY=PLACEHOLDER

# LiveKit
LIVEKIT_SERVER_URL=https://sessions-jygv4id4.livekit.cloud
LIVEKIT_SANDBOX_URL=https://quantum-resistant-circuit-2npxoh.sandbox.livekit.io
NEXT_PUBLIC_LIVEKIT_URL=PLACEHOLDER
LIVEKIT_API_KEY=PLACEHOLDER
LIVEKIT_API_SECRET=PLACEHOLDER

# OpenAI
OPENAI_API_KEY=PLACEHOLDER

# AWS
AWS_S3_BUCKET=zamana-sessions-dev
AWS_ACCESS_KEY_ID=PLACEHOLDER
AWS_SECRET_ACCESS_KEY=PLACEHOLDER
AWS_REGION=us-east-2

# Zapier
ZAPIER_WEBHOOK_SECRET=PLACEHOLDER
